.Wrapper {
  width: 35%;
  margin: 30px auto;
}

.TodoInput {
  width: 80%;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 45px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}

.addBtn {
  height: 47px;
  width: 100px;
  background-color:#25b9f1;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 10px;
}

.delBtn {
  height: 32px;
  width: 75px;
  background-color: #f06868;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 8px;
}

.axoisDataWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.clearBtn {
  display: block;
  margin: 30px auto;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color:#25b9f1;
}
.inputFieldWrap{
  margin-bottom: 10px;
}
.validate{
  font-size: 12px;
  color:rgb(245, 53, 92);
  margin: 0;
  padding: 5px;
}