.Wrapper{
  width: 50%;
  margin: 30px auto;
}
.TodoInput{
  width:50%;
  border:1px solid #ccc;
  background-color: #fff;
  height:45px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
}
.addBtn{
  height:47px;
  width: 100px;
  background-color:rgb(37, 85, 241);
  font-size: 16px;
  color:#fff;
  border:none;
  outline:none;
  font-weight: 600;
}